@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--page-bg);
	color: var(--text-color);
	font-family: var(--font-main);
	
}
.wrapper{
	min-height: 100vh;
	display: flex;
	flex-direction: column;	
}
main{
	flex-grow: 1;
}

img {
	display: block;
}
