	<section class="accordion">
				<div class="accordion-item" >
					<summary class="accordion-summary">Заголовок 1</summary>
					<div class="accordion-content">
						<p>Це вміст першого пункту акордеону.</p>
					</div>
				</div>
				<div class="accordion-item" >
					<summary class="accordion-summary">Заголовок 2</summary>
					<div class="accordion-content">
						<p>Це вміст другого пункту акордеону.</p>
					</div>
				</div>
				<div class="accordion-item">
					<summary class="accordion-summary">Заголовок 3</summary>
					<div class="accordion-content">
						<p>Це вміст третього пункту акордеону.</p>
					</div>
				</div>
			</section>